!!!
%html
    %head
        %title Review not found!
        %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/index.css' }
        %script{ :src => '/index.js', :type => 'text/javascript' }
    %body
        %div.header.error
            A review named #{id} doesn't seem to exist on this server.
        %div.header
            Were you looking for one of these reviews?
        %div.container
            - reviews.each do |review|
                %div.reviewlink
                    %a{ :href => "/#{review}" } #{review}