body {
	background-color:rgb(0, 0, 0);	
}

#diffcontainer {
	margin-left:10em;
}

.snippet,
.note textarea,
.note .notesizer {
	font-family:Inconsolata-dz,Inconsolata,Consolas,monospace;
}

.snippet {	
	white-space:pre;
	display:block;
}

.raw,
.note textarea {
	color:rgb(230, 230, 230);
}

.subtraction {
	color:rgb(198, 66, 84);
}

.addition {
	color:rgb(165, 194, 92);
}

.separator {
	color:rgb(255, 198, 109);
}

.header {
	color:rgb(43, 145, 175);
}

#noteprototype {
	display:none;
}

.note {
	position:absolute;
}

.note textarea {
	border:1px solid rgb(40, 40, 40);
	background-color:rgb(20, 20, 20);
	font-size:1em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
}

.note textarea:focus {
	outline:none;
}

.note .notesizer {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:100%;
	padding:15px; /* same as textarea */
	padding-bottom: 1.15em; /* A bit more than one additional line of text. */
	visibility:hidden;
}
