body {
	background-color:rgb(0, 0, 0);	
}

#diffcontainer {
	margin-left:10em;
}

.snippet {	
	font-family:Inconsolata-dz,Inconsolata,Consolas,monospace;
	white-space:pre;
}

.raw {
	color:rgb(230, 230, 230);
}

.subtraction {
	color:rgb(198, 66, 84);
}

.addition {
	color:rgb(165, 194, 92);
}

.separator {
	color:rgb(255, 198, 109);
}

.header {
	color:rgb(43, 145, 175);
}

#noteprototype {
	display:none;
}

.note {
	position:absolute;
	width:50em;
	height:30em;
	color:#FFFFFF;
}

.note textarea {
	font-family:Inconsolata-dz,Inconsolata,Consolas,monospace;
	border:none;
	background-color:transparent;
	color:#FFFFFF;
	font-size:1em;
	min-height:100%;
	width:100%;
}

.note textarea:focus {
	outline:none;
}