body {
    background-color:#FFF;
    margin-top: 8px;
    margin-left: 0px;
}

.container {
    margin-left:8px;
}

.container#sticky {
    position:fixed;
    background-color:#FFF;
    left: 0;
    margin-left: 0;
    padding-left:8px;
    padding-top:8px;
    top:0;
    width:100%;
}

.snippet,
.note textarea,
.note .notesizer,
.note .noteclose {
    font-family:Inconsolata-dz,Inconsolata,Consolas,monospace;
}

.snippet {    
    white-space:pre;
    display:block;
}

.snippet.header {
    white-space:nowrap;
}

.summary {
    padding-bottom:1em;
}

.raw,
.summary,
.note textarea {
    color:rgb(0, 0, 0);
}

.subtraction {
    color:rgb(255, 0, 0);
    color:rgb(255, 0, 0);
}

.addition {
    color:rgb(0, 125, 0);
}

.separator {
    color:rgb(255, 198, 109);
}

.header {
    color:rgb(0, 0, 255);
}

#notetemplate {
    display:none;
}

.note {
    position:absolute;
}

.note textarea {
    /* If you change this color, update review.js keyup event listener */   
    border:1px solid rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    font-size:1em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    box-shadow:0 0 0 .1em rgb(0,0,0);
    -moz-transition-property:border-color;
    -moz-transition-duration:.5s;
    -webkit-transition-property:border-color;
    -webkit-transition-duration:.5s;
}

.note textarea:focus {
    outline:none;
    /* If you change this color, update review.js keyup event listener */
    border-color:rgb(165, 194, 92);
    -moz-transition-property:border-color;
    -moz-transition-duration:0;
    -webkit-transition-property:border-color;
    -webkit-transition-duration:0;
}

.note .notesizer {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    padding:15px;
    padding-bottom: 1.15em; /* A bit more than one additional line of text. */
    visibility:hidden;
}

.beingdragged,
.beingdragged textarea {
    cursor:move;
}

.note .noteclose {
    color:rgb(198, 66, 84);
    background-color:rgb(255, 255, 255);
    z-index:2;
    position:absolute;
    right:0;
    top:0;
    width:1em;
    height:1em;
    text-align:center;
    padding-bottom:.3em;
    cursor:pointer;
    visibility:hidden;
}

.note:hover .noteclose {
    visibility:visible;
}

#ToggleThemeBtn{
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;    
    background-color:#000; 
}